* {
  box-sizing: border-box;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #161616;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin: 0 auto;
  padding: 55px 25px 55px 25px;
  width: 375px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  border-radius: 30px;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.album-cover {
  width: 325px;
  aspect-ratio: 1 / 1;
  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.song-name {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.artist {
  color: #F4EFEF;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  color: var(--primary-color);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}

.progress-wrapper {
  width: 325px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#progress-bar {
  height: 11px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  background-color: #74717C;
  border-radius: 30px;
}

.progress-bar-time-container {
  display: flex;
  justify-content: space-between;
  color: #74717C;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper-name-volume {
  width: inherit;
  padding-left: inherit;
  padding-right: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#volume-toggle {
  padding: 5px;
}

.volume-wrapper {
  width: fit-content;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color:rgba(0, 0, 0, 0.4);
  border-radius: 30px 30px 30px 30px;
  position: absolute;
  right: 55px;
  display: none;
}

.volume-visible {
  display: flex;
}

.volume-bar {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 30px;
  height: 11px;
  width: 100px;
  background-color: #74717C;
}

#volume-bar::-webkit-slider-thumb, #progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: var(--primary-color);
  outline: 3px solid var(--secondary-color);
}

#volume-bar::-moz-range-thumb, #progress-bar::-moz-range-thumb {
  box-sizing: unset;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: var(--primary-color);
  outline: 3px solid var(--secondary-color);
  border: none;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.btn {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.prev-btn svg, .next-btn svg, .volume-up-btn svg, .volume-down-btn svg{
  fill: #f4efef;
  transition: fill 0.3s ease-in-out;
}

.play-pause-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

@keyframes glowing-border {
  0% {
    box-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color), 0 0 30px var(--primary-color);
  }
  50% {
    box-shadow: 0 0 20px var(--primary-color), 0 0 30px var(--primary-color), 0 0 40px var(--primary-color);
  }
  100% {
    box-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color), 0 0 30px var(--primary-color);
  }
}

@media (hover: hover) {
  .play-pause-btn:hover {
    animation: glowing-border 1s infinite;
  }

  .prev-btn svg:hover, .next-btn svg:hover, .volume-up-btn svg:hover, .volume-down-btn svg:hover {
    fill: var(--primary-color);
  }

}

@media (hover: none) {
  .play-pause-btn:hover {
    animation: none;
  }

  .prev-btn svg:hover, .next-btn svg:hover, #volume-toggle:hover, .volume-up-btn svg:hover, .volume-down-btn svg:hover {
    fill: #f4efef
  }

}

.play-pause-btn > svg {
  fill: var(--secondary-color);
}

#footer {
  height: 50px;
  background: #060606;
  border-radius: 30px 30px 0 0;
  padding-left: 50px;
  padding-right: 50px;
}

#footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  font-family: sans-serif;
}

#footer ul > li svg {
  height: 30px;
  fill: #f4efef;
  transition: fill 0.3s ease;
}

#footer ul > li svg:hover {
  fill: var(--primary-color);
}

#footer ul > li p {
  margin: 0;
  color: #f4efef;
  font-weight: 700;
}

@media(max-width: 375px) {
  .wrapper {
    width: 320px;
  }

  .progress-wrapper, .album-cover {
    width: 270px;
  }

  #footer {
    padding-left: 10px;
    padding-right: 20px;
  }

}
