* {
  box-sizing: border-box;
}

:root {
  /*--primary-color: #eb6b34;*/
  /*--secondary-color: #152b2c;*/
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
}

.wrapper {
  margin: 0 auto;
  padding: 55px 25px 55px 25px;
  width: 375px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  border-radius: 30px;
  /*background: #161616;*/
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.album-cover {
  width: 325px;
  height: 325px;
  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.song-name {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.artist {
  color: #F4EFEF;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  color: var(--primary-color);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}

.progress-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.progress-bar {
  width: 325px;
  height: 11px;
  background-color: #74717C;
  border-radius: 30px;
}

.progress-bar__inner {
  width: 0;
  height: 11px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 30px;
}

.progress-bar__inner-dot {
  box-sizing: unset;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: 3px solid var(--secondary-color);
}

.progress-bar-time-container {
  width: 325px;
  display: flex;
  justify-content: space-between;
  color: #74717C;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.btn {
  margin: 0;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.play-pause-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.play-pause-btn > svg {
  fill: var(--secondary-color);
}
